# **MÓDULO 14 - Exercício**
# Pré Processamento dos Dados - A primeira etapa Pré Modelagem

Para nossa atividade usaremos uma base de churn também, porém essa base não diz respeito a serviços bancários e sim serviços de internet, telefone e tv - Telecomunicação.

Vamos realizar aqui as etapas de limpeza e tratamento de dados vistos durante a aula, porém aplicados a essa base nova.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [47]:
#Lembrem-se sempre de alterar a importação dos dados de acordo com o diretório de vocês.
df = pd.read_csv("CHURN_TELECON_MOD08_TAREFA-14.csv", delimiter=';')

Legenda dos dados:

*   **CustomerID** : Esse é o ID único de cada cliente nosso da rede de produtos de telecomunicação.

*   **Genero** : O genero dos nossos clientes.

*   **Idoso** : Se nosso cliente tem acima de 60 anos ou não. (Sim = 1 | Não = 0)

*   **Casado** : Se nosso cliente é casado ou não.

*   **Dependents** : Se cliente tem dependentes.

*   **Tempo_como_Cliente** : Tempo em meses que nosso cliente está com a nossa empresa.

*   **PhoneService** : Se ele contratou serviço telefônico com a nossa empresa.

*   **Servico_Internet** : Qual o tipo de serviço de internet contratado.

*   **Servico_Seguranca** : Se ele contratou serviço de segurança com a nossa empresa.

*   **Suporte_Tecnico** : Se já acionou o suporte técnico.

*   **StreamingTV** : Se ele contratou serviço de streaming para TV.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **PaymentMethod** : Forma de Pagamento.

*   **Pagamento_Mensal** : Quanto o cliente pagava mensalmente.

*   **Total_Pago** : Total já pago pelo cliente para nossa companhia.

*   **Churn** : Nossa coluna mais importante, se nosso cliente nos abandonou ou não.

# 1 - Carregue a base, verifique se os tipos de dados estão de acordo com cada coluna e caso não estejam realize a transformação dos tipos de dados.

In [57]:
#seu código aqui
df['Idoso'] = df['Idoso'].astype(str)
df['Idoso'] = df['Idoso'].str.replace('1', 'Yes', regex=False)
df['Idoso'] = df['Idoso'].str.replace('0', 'No', regex=False)
df['Churn'] = df['Churn'].str.replace('No', '0', regex=False)
df['Churn'] = df['Churn'].str.replace('Yes', '1', regex=False)
df['Churn'] = df['Churn'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2488 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Usuario          2488 non-null   object
 1   Genero              2488 non-null   object
 2   Idoso               2488 non-null   object
 3   Casado              2488 non-null   object
 4   Dependentes         2488 non-null   object
 5   Tempo_como_Cliente  2488 non-null   int64
 6   Servico_Telefone    2488 non-null   object
 7   Servico_Internet    2488 non-null   object
 8   Servico_Seguranca   2488 non-null   object
 9   Suporte_Tecnico     2488 non-null   object
 10  StreamingTV         2488 non-null   object
 11  Tipo_Contrato       2488 non-null   object
 12  Metodo_Pagamento    2488 non-null   object
 13  Pagamento_Mensal    2488 non-null   float64
 14  Total_Pago          2488 non-null   float64
 15  Churn               2488 non-null   int32
dtypes: float64(2), int32(1), int64(1), object(12)
memory usage: 320.7+ KB

# 2 - Esse exercício faremos por etapas:
A) Verifique se temos colunas com dados faltantes e traga a % dos dados faltantes por coluna.

In [358]:
#seu código aqui
(df.isnull().sum()/len(df))*100

customerID             0.00
Genero                 0.48
Idoso                  0.00
Casado                 0.00
Dependents             0.00
Tempo_como_Cliente     0.00
PhoneService          59.28
Servico_Internet       0.00
Servico_Seguranca      0.00
Suporte_Tecnico        0.00
StreamingTV            0.00
Tipo_Contrato          0.00
PaymentMethod          0.00
Pagamento_Mensal      13.00
Total_Pago             0.00
Churn                  0.20
dtype: float64

B) Exclua nessa etapa as linhas das colunas com dados faltantes que você analisar que esse método é o ideal. Justifique o motivo de estar excluindo essas linhas.

In [51]:
#seu código aqui
#Aqui eu decidi excluir os dados nulos da coluna 'Genero' porque ela continha apenas 4% de dados faltantes.
df.dropna(subset=['Genero'], inplace=True)

C) Nessa etapa substitua pela média, mediana ou moda as linhas das colunas com valores faltantes que você analisou e entendeu que esse era o melhor método. Não se esqueça de justificar sua escolha.

**Dica variáveis numéricas:** Não se esqueça de verificar a distrbuição dos dados, média e mediana.

**Dica variáveis categóricas:** Caso precise substituir uma variável categórica utilize um gráfico de barras para verificar a que mais aparece e utilizar ela na substituição.
Ou você pode optar por excluir a coluna, mas justifique sua escolha.

Caso opte por substituir você pode utilizar a função fillna:
df['SUACOLUNA'].fillna("VALOR QUE SUBSTITUIRA O NULO", inplace=True)
Ela funcionará como a replace.

In [53]:
#seu código aqui
#Na coluna 'Churn' tinha apenas 2% de dados faltantes nao faria tanta diferença no modelo e na coluna 'Servico_Telefone' tinha 59%
#Mesmo nao sendo uma coluna muito importante para o modelo de ML ela tem uma quantidade muito grande para excluir, então eu inclui nos dados com a maior quantidade. 
df.fillna({'Churn': 'No'}, inplace=True)
df.fillna({'Servico_Telefone': 'Yes'}, inplace=True)

#A coluna 'Pagamento_Mensal' eu decidi trocar os dados nulos pela mediana porque ela acabou puxando a media para mais proxima dela. 
mediana = df['Pagamento_Mensal'].median()
df.fillna(mediana, inplace=True)

# 3 - Verifique se encontramos valores digitados incorretamente, ou com letras maiusculas ou minusculas, ou até mesmo mesmos valores porém escritos de forma dirente e corrija.

In [55]:
#seu código aqui
df['Genero'] = df['Genero'].str.title()
df.loc[df['Genero'] == 'F', 'Genero'] = 'Female'
df.loc[df['Genero'] == 'M', 'Genero'] = 'Male'
df['Servico_Internet'] = df['Servico_Internet'].str.title()

# [EXTRA] 4 - Caso deseje, para manter um padrão na sua base, renomeie as colunas ou deixand

In [59]:
df.rename(columns={'customerID':'ID_Usuario'}, inplace=True)
df.rename(columns={'Dependents':'Dependentes'}, inplace=True)
df.rename(columns={'PhoneService':'Servico_Telefone'}, inplace=True)
df.rename(columns={'PaymentMethod':'Metodo_Pagamento'}, inplace=True)

df.head(11)

,ID_Usuario,Genero,Idoso,Casado,Dependentes,Tempo_como_Cliente,Servico_Telefone,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,Metodo_Pagamento,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,Dsl,No,No,No,Month-to-month,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,No,No,No,34,Yes,Dsl,Yes,No,No,One year,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,No,No,No,2,Yes,Dsl,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,No,No,No,45,No,Dsl,Yes,Yes,No,One year,Bank transfer (automatic),71.45,1840.75,0
16,8191-XWSZG,Female,No,No,No,52,Yes,No,No internet service,No internet service,No internet service,One year,Mailed check,71.45,1022.95,0
17,9959-WOFKT,Male,No,No,Yes,71,Yes,Fiber Optic,Yes,No,Yes,Two year,Bank transfer (automatic),71.45,7382.25,0
18,4190-MFLUW,Female,No,Yes,Yes,10,Yes,Dsl,No,Yes,No,Month-to-month,Credit card (automatic),71.45,528.35,1
19,4183-MYFRB,Female,No,No,No,21,Yes,Fiber Optic,No,No,No,Month-to-month,Electronic check,71.45,1862.90,0
20,8779-QRDMV,Male,Yes,No,No,1,No,Dsl,No,No,No,Month-to-month,Electronic check,71.45,39.65,1
21,1680-VDCWW,Male,No,Yes,No,12,Yes,No,No internet service,No internet service,No internet service,One year,Bank transfer (automatic),71.45,202.25,0
22,1066-JKSGK,Male,No,No,No,1,Yes,No,No internet service,No internet service,No internet service,Month-to-month,Mailed check,71.45,20.15,1